
Plugins>ImageJ on GPU (CLIJ)>Filter,              "-",                  null

Plugins>ImageJ on GPU (CLIJ)>Filter,              "Convolve on GPU",                  net.haesleinhuepf.clij.customconvolutionplugin.Convolve
Plugins>ImageJ on GPU (CLIJ)>Filter,              "Deconvolve (Richardson-Lucy) on GPU",                  net.haesleinhuepf.clij.customconvolutionplugin.Deconvolve
Plugins>ImageJ on GPU (CLIJ)>Filter,              "Blind deconvolve (Ayers-Dainty, in development) on GPU",                  net.haesleinhuepf.clij.customconvolutionplugin.BlindDeconvolve
